---
title: Welcome!
description: Welcome to fra.ncois.dev, my Ruby (on Rails) and tech blog.
---
<div class="flex flex-col space-y-6 text-lg">
  <h1 class="text-stone-900 text-7xl font-bold tracking-tighter mt-6 mb-4">
    fra.ncois.dev <br> Ruby (on Rails) and tech blog.
  </h1>
  <p>Find links to the different articles below</p>

  <%= partial "partials/article_list" %>
</div>
